.table-view {  
        -fx-background-color: #fff;    
}  
.table-view .placeholder .label {  
    -fx-font-size: 1.1em;  
    -fx-font-weight: bold;    
    -fx-text-fill: #05D39B;  
    -fx-alignment: center;  
} 

/*HEADER */  
.table-view .column-header{       
        -fx-background-color: transparent;    /* made transparent */  
        -fx-size: 45.0px;  
        -fx-min-height: 45.0px;    
        -fx-cursor: hand;  
}  

.table-view .column-header .label {  
        -fx-font-size: 1.083333em;  
        -fx-font-weight: bold;    
        -fx-text-fill: #fff;  
        -fx-alignment: center;  
        -fx-padding: 5.0 5.0 5.0 5.0;  
}  
   
.table-view .column-header-background {  
      -fx-background-radius: 5.0 5.0 0.0 0.0;  
        -fx-background-color: #05D39B;  
}  